doctype html
html
  head
    title Hardcore Tetris
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(charset='utf-8')

    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    block script
  body
    block content

    block scriptFalse